#start-btn{
    width: 40%;
} 
#camer{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img{
    width: 150px;
    border-radius: 100px;
}
#textbox{
    width: 300px;
}
body{
    background: linear-gradient(#3A5B6F, #202529);
    color: #BFFFF1;
}
#mmckdppplgckdpydvt{
    background-color: teal;
}